{%extends 'register/base.html'%}
{% load static %}
{% load bootstrap3%}
{% load bootstrap4%}
<link rel="stylesheet" href="{%static 'css/registration.css'%}">

{% block content %}
{{block.super}}


<div class="business w3-animate-right">
    <div class="card" style="width: 48rem; border-radius: 8px;">
        <div class="card-body">
            <h5 class="card-title">Business Registration</h5>
            <form action="{%url 'register'%} " method="POST" enctype="text/plain">
                <h2></h2>
                {% csrf_token %} {% bootstrap_form form %}
            </form>
            <a id="hide" type="submit" href="#" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>

<!-- <div class="space w3-animate-right">
    <div class="card" style="width: 48rem; border-radius: 8px;">
        <div class="card-body">
            <h5 class="card-title">Total Vehicles</h5>
            <form class="col-xs-7;" action="{%url 'register'%} " method="POST" enctype="text/plain">
                <h3 class="text-center text-primary">Space form</h3>
                {% csrf_token%} {% bootstrap_form form1%}
                <input type="submit" value='submit'>
            </form>
            <a type="submit" href="#" class="btn btn-primary">Next</a>
        </div>
    </div>
</div> -->

<!-- <div class="data w3-animate-right">
    <div class="card" style="width: 48rem; border-radius: 8px;">
        <div class="card-body">
            <h5 class="card-title">Total Vehicles</h5>
            <form class="col-xs-7" action="{%url 'register'%} " method="POST" enctype="text/plain">
                <h3 class="text-center text-primary">Data Form</h3>
                {% csrf_token%} {% bootstrap_form form2%}
                <a  type="submit" href="#" class="btn btn-primary">Done!</a>
                <input type="submit" >
            </form>
        </div>
    </div>
</div>
-->
<script> 

$(document).ready(function(){
  $("#hide").click(function(){
    $("business").hide();
  });
  $("#show").click(function(){
    $("space").show();
  });
});

</script>

{% endblock %}